.calendar {
  overflow: hidden;
  table-layout: fixed;
}
.calendarWrapper {
  padding: 0 1rem;
}
.calendarGrid {
  padding-top: 4rem;
}
.calendarGrid > div.MuiGrid-item {
  padding: 0;
}
.calendar th,
.calendar td {
  text-align: center;
  padding: 0;
  border: none;
}
@media (min-width: 769px) {
  .calendar th,
  .calendar td {
    width: 100px;
  }
}
@media all and (max-width: 768px) {
  .calendar th {
    font-size: 0.5rem;
  }
  .calendarWrapper {
    padding: 0;
  }
  .calendarGrid {
    margin: 0;
    padding: 4rem 0 0 0;
    width: 100%;
  }
}

.calendar td {
  text-align: center;
}

.calendar .today {
  font-weight: bold;
  background-image: linear-gradient(to top, #393a67 0%, #3f4275 100%);
}

.calendar .week-day span {
  padding: 1rem;
  display: block;
}

.calendar .active {
  background-image: linear-gradient(-180deg, #6a2b87 0%, #af00ff 100%);
}

.month-selector th {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: capitalize;
}

.month-cell:hover {
  /* background: #efefef; */
  cursor: pointer;
}

.select-month-title {
  font-weight: bold;
  /* background: #efefef; */
}

.toggle-month {
  text-align: center !important;
}

.toggle-month:hover,
.week-day:hover {
  cursor: pointer;
  background: #292a4a;
}

.arrow-icon {
  padding: 5px 0 0 5px;
}

.calendar .selected-day {
  color: white;
  font-weight: bold;
  background-image: linear-gradient(45deg, #22233e, transparent);
}

.paper {
  padding: 0.25em 1.5em 1.5em 1.5em;
  display: "flex";
  overflow: "auto";
  flex-direction: "column";
}

svg.MuiSvgIcon-root {
  transition: 250ms ease;
}
svg.MuiSvgIcon-root:hover {
  cursor: pointer;
  opacity: 0.5;
}
